// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.navbar.navbar-default{
  position: static;
}
